@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .smooth-scroll {
    scroll-behavior: smooth;
  }
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom scrollbar for better look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
